<!-- Hero -->
<div class="bg-slate-900">
  <div class="bg-gradient-to-b from-violet-600/[.15] via-transparent">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <!-- End Features -->
    <hr />
    <!-- Footer -->
    <footer class="bg-gray-900 w-full flex content-center">
      <div
        class="w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 lg:pt-20 mx-auto"
      >
        <!-- Grid -->
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6">
          <div class="col-span-full lg:col-span-1">
            <a
              class="flex-none text-xl font-semibold text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
              href="#"
              aria-label="Brand"
              >Brand</a
            >
          </div>
          <!-- End Col -->

          <div class="col-span-1">
            <h4 class="font-semibold text-gray-100">Product</h4>

            <div class="mt-3 grid space-y-3">
              <p>
                <a
                  class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  href="#"
                  >Pricing</a
                >
              </p>
              <p>
                <a
                  class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  href="#"
                  >Changelog</a
                >
              </p>
              <p>
                <a
                  class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  href="#"
                  >Docs</a
                >
              </p>
            </div>
          </div>
          <!-- End Col -->

          <div class="col-span-1">
            <h4 class="font-semibold text-gray-100">Company</h4>

            <div class="mt-3 grid space-y-3">
              <p>
                <a
                  class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  href="#"
                  >About us</a
                >
              </p>
              <p>
                <a
                  class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  href="#"
                  >Blog</a
                >
              </p>
              <p>
                <a
                  class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  href="#"
                  >Careers</a
                >
              </p>
              <p>
                <a
                  class="inline-flex gap-x-2 text-gray-400 hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                  href="#"
                  >Customers</a
                >
              </p>
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Grid -->

        <div
          class="mt-5 sm:mt-12 grid gap-y-2 sm:gap-y-0 sm:flex sm:justify-between sm:items-center"
        >
          <div class="flex justify-between items-center">
            <p class="text-sm text-gray-400">
              ©{{ date }} Oussema. All rights reserved.
            </p>
          </div>
          <!-- End Col -->

          <!-- Social Brands -->
          <div>
            <a
              class="w-10 h-10 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-white hover:bg-white/10 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-gray-600"
              href="https://github.com/Oussemasahbeni"
              target="_blank"
              rel="noopener"
              title="Github"
            >
              <i class="pi pi-github" style="font-size: 1.5rem"></i>
            </a>
            <a
              class="w-10 h-10 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-white hover:bg-white/10 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-gray-600"
              href="https://www.linkedin.com/in/oussema-sahbeni/"
              target="_blank"
              rel="noopener"
              title="Linkedin"
            >
              <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
            </a>
          </div>
          <!-- End Social Brands -->
        </div>
      </div>
    </footer>
  </div>
  <!-- End Hero -->
</div>
